* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 50%;
    border-bottom: solid 1px brown;
}

nav {
    padding: 30px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: top;
}

.logo {
    max-width: 70px;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    margin-bottom: 10px;
}

.logo img {
    width: 39px;
    height: 59px;
}

nav li {
    display: inline-block;
    text-align: center;
    margin-left: 40px;
}

nav a {
    font-family: Cambria;
    color: black;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

a:active {
    color: brown;
}

body {
    background-color: rgb(238, 227, 214);
    background-image: url(../images/Grapes.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
}

body .container {
    max-width: 1100px;
    margin: auto;
}

main {
    width: 70%;
    padding-bottom: 40px;
}

h1 {
    padding-top: 158px;
    padding-bottom: 33px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
}

h1:after {
    /*псевдоэлемент волну не нашла , предполагаю, что СSS на неё к h1  должен так быть прописан */
    content: '>';
    display: inline-block;
    width: 165px;
    height: 9px;
    color: black;
    text-align: center;
    padding-top: 48px;
    padding-top: 48px;
}

span {
    text-transform: capitalize;
    display: inline;
}

span .logo img:after {
    content: '.logo img';
    display: inline;
    width: 39px;
    height: 59px;
    text-align: center;
    background-image: url(../images/grain.png);
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    width: 70%;
    padding-bottom: 77px;
}

.move-to {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    border: solid 2px brown;
    line-height: 64px;
    color: black;
}

.move-to:after {
    content: '>';
    display: inline-block;
    width: 59px;
    height: 64px;
    background-color: brown;
    color: rgb(238, 227, 214);
    line-height: 64px;
    text-align: center;
    margin-left: 11px;
}

div a .mouse {
    /*НЕ УДАЛОСЬ СДЕЛАТЬ*/
    display: inline-block;
    padding-top: 210px;
    padding-left: 520px;
    width: 33.47px;
    height: 69.8px;
}

img {
    background-position: 90%;
}