* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: brown;
}

header .container,
main .container {
    overflow: auto;
}

.logo {
    float: left;
}

.logo img {
    width: 70px;
    height: 70px;
}

nav {
    float: right;
    margin: 40px;
}

nav li {
    display: inline-block;
    float: right;
}

li {
    margin-left: 15px;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(241, 212, 132);
}

.container {
    max-width: 1100px;
    margin: auto;
}

.gradient {
    background-image: linear-gradient(to right, brown, grey, lightblue, orange);
    padding-top: 130px;
    padding-bottom: 130px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.start {
    display: inline-block;
    padding: 15px 38px;
    background-color: brown;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}

img {
    float: left;
    max-width: 35%;
    padding-top: 20px;
}

.content .container p {
    padding: 40px;
    line-height: 30px;
}

footer {
    background-color: brown;
}